@font-face {
    font-family: 'Inter';
    src: url(Inter-VariableFont_opsz\,wght.ttf);
}

#mainBox {
    width: 550px;
    height: 729px;
    background-color: #F59E0B;
    margin:20px auto 0 auto;
    border-radius: 10px;
}

#inputBox {
    width:550px;
    height:285px;
    background-color: #34D399;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Inter';
}

h1 {
    font-weight: 800;
    color:white;
    font-size:28px;
    margin: 10px 0;

}

#numInput {
    width:120px;
    font-size: 58px;
    text-align: center;
    background-color: transparent;
    font-weight: 800;
    color:white;
    border: 2px solid white;
    border-radius: 10px;
}
#numInput::placeholder {
    color:white;
}

button {
    background-color: white;
    font-size: 18px;
    padding: 10px 30px;
    font-weight: bolder;
    border: none;
    color: #34D399;
    border-radius: 6px;
    margin: 0px 0 10px 0;
    cursor:pointer;
}

.unitBox {
    width: 500px;
    height: 110px;
    background-color: #FCD34D;
    margin: 15px 0;
    border-radius: 6px;
}

.lowerhalf {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:10px 0;
}

h2 {
    text-align: center;
    font-family: 'Inter';
    color: #F43F5E;
    margin:20px 0 0 0;
}

p{
    text-align: center;
    font-family: 'Inter';
    color: #F43F5E;
}